body {
  background: black;
  color: white;
}

h1 {
  font-size: 3em;
  text-align: center; 
  color: white;
}

h4 {
  text-align: center;
  color: white;
}

.container {
  width: 328px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 50%;
  margin: 0 auto;
}

.box {
  width: 150px;
  height: 150px;
  margin: 5px;
  border: 2px solid white;
}

.red {
  background: red;
  border-top-left-radius: 100%;
  opacity: .5;

}

.yellow {
  background: yellow;
  border-top-right-radius: 100%;
  opacity: .5;

}

.blue {
  background: blue;
  border-bottom-left-radius: 100%;
  opacity: .5;

}

.green {
  background: darkgreen;
  border-bottom-right-radius: 100%;
  opacity: .5;
}

#btn-container {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

button {
  border: none;
  padding: 10px;
  border-radius: 5%;
  background: darkgray;
  font-weight: bold;
}
